@model PagedList.IPagedList<TruongVanDat_Tuan4.Models.Sach>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>HUTECH SÁCH</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    @item.tensach
                </div>
                <div class="panel-body">
                    <p><strong>Giá: </strong>@item.giaban</p>
                    <p><strong>Ngày cập nhật: </strong>@item.ngaycapnhat</p>
                    <p><strong>Số lượng tồn: </strong>@item.soluongton</p>
                    <p><img src="@item.hinh" alt="hinh thumnail"></p>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <a href="#" class="btn btn-primary">Order</a>
                        @Html.ActionLink("Read more...", "Detail", new
                        {
                            id =
                        item.masach
                        }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
        @Model.PageCount
    </div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new
        {
            page = page
        }))
    </div>
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<style type="text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);

                $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>');

                $(this).append('<span class="more-text">' + removedStr +
                    '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();

            27

            $(this).remove();
        });
    });
</script>
<style>
    .show-read-more .more-text {
        display: none;
    }
</style>